## 포맷팅

### + ,

In [1]:
price = 500
print("음료수 "+str(price)+"원!")

음료수 500원!

In [2]:
print("음료수",price,"원!")

음료수 500 원!

### 서식 지정 
- %[-]폭[.유효자리수]서식문자
- %d 정수

In [4]:
print("음료수 %5d원!" %price)

음료수   500원!

### 신형포맷팅

In [6]:
name = "홍길동"
age = 16
height = 162.5
print("이름:{}, 나이:{}, 키: {}".format(name, age, height))

이름:홍길동, 나이:16, 키: 162.5

In [8]:
print("이름:{0}, 나이:{1}, 키: {2}".format(name, age, height))

이름:홍길동, 나이:16, 키: 162.5

In [10]:
print("이름:{name}, 나이:{age}, 키: {height}".format(name="홍길동",height=160.9, age=17))

이름:홍길동, 나이:17, 키: 160.9

In [13]:
info = {"name":"정우성", "age" : 30, "height":180.5}
print("이름: {0[name]}, 나이:{0[age]}, 키:{0[height]}".format(info))

이름: 정우성, 나이:30, 키:180.5

In [14]:
print("이름:{0:-^10s}, 나이:{1:>05d}, 키: {2:!<8.2f}".format(name, age, height))

이름:---홍길동----, 나이:00016, 키: 162.50!!

## sort()와 sorted()

In [2]:
s = ['apple', 'cat', 'boy', 'television', 'so']

In [3]:
s.sort(reverse=True)
s

['television', 'so', 'cat', 'boy', 'apple']

In [4]:
# 길이로 정렬
sorted(s,key=lambda t : len(t))

['so', 'cat', 'boy', 'apple', 'television']

In [5]:
s

['television', 'so', 'cat', 'boy', 'apple']

In [6]:
sorted(s, key=str.lower)

['apple', 'boy', 'cat', 'so', 'television']

In [7]:
sorted(s, key=str.lower, reverse=True)

['television', 'so', 'cat', 'boy', 'apple']

## 튜플 리턴

In [25]:
import time

In [29]:
now = time.localtime()
now

time.struct_time(tm_year=2019, tm_mon=1, tm_mday=17, tm_hour=21, tm_min=12, tm_sec=2, tm_wday=3, tm_yday=17, tm_isdst=0)

In [26]:
def gettime():
    now = time.localtime()
    return now.tm_hour, now.tm_min

In [30]:
result = gettime()

In [31]:
print("지금은 %d시 %d분입니다" %(result[0], result[1]))

지금은 21시 12분입니다

In [32]:
hour, min = gettime()
print("지금은 %d시 %d분입니다" %(hour, min))

지금은 21시 13분입니다

In [34]:
d,m = divmod(7,3)
print(d,m)

2 1

In [37]:
dic = {'boy' : '소년', 'school':'학교'}
dic['boy']

'소년'

In [39]:
print(dic.get('student'))

None

In [42]:
print(dic.get('student','사전에 없는 단어입니다.'))

사전에 없는 단어입니다.