# 표준모듈 math

import 모듈명
from 모듈 import 함수명

In [1]:
import math

print(math.sqrt(2))

1.4142135623730951

In [2]:
from math import sqrt

print(sqrt(2))

1.4142135623730951

In [3]:
import math as m

print(m.sqrt(2))

1.4142135623730951

In [4]:
from math import sqrt as sq

print(sq(2))

1.4142135623730951

- (상수)
    - pi
- (함수)
    - sqrt(x) : x의 제곱근을 구한다. 
    - pow(x,y) : x의 y승을 계산한다.
    - hypot(x,y) : 피타고라스의 정리에 의거 x제곱+y제곱의 제곱근을 구한다.
    - factorial(x) : x의 계승을 구한다. 인수 x는 양의 정수만 가능하다.
    - sin(x), cos(x), tan(x) : 삼각함수를 계산한다. 인수 x는 라디안 값이다.
    - asin(x), acos(x), atan(x), atan2(y,x) : 역삼각함수
    - sinh(x), cosh(x), cosh(x), tanh(x) : 쌍곡선 삼각함수를 계산한다.
    - asinh(x), acosh(x), atanh(x) : 쌍곡선 역삼가함수를 계산한다.
    - degrees(x) : 라디안 값을 각도로 바꾼다.
    - radians(x) : 각도를 라디안 값으로 바꾼다.
    - ceil(x) : 수직선 오른쪽의 올림 값을 찾는다.
    - floor(x) : 수직선 왼쪽의 내림 값을 찾는다.
    - fabs(x) : x의 절대값을 구한다.
    - trunc(x) : x의 소수점 이하를 버린다.
    - log(x,base) : base에 대한 x의 로그를 구한다. base가 생략되면 자연 로그를 구한다.
    - log10(x) : 10의 로그를 구한다.
    - gcd(a,b) : a,b의 최대공약수를 구한다.

# 표준모듈 statistics -3.4버전에서 추가

In [6]:
import statistics

score = [ 30, 40, 60, 70, 80, 90 ]
print(statistics.mean(score))
print(statistics.median(score))

61.666666666666664
65.0

- (함수)
- mean : 평균을 구한다.
- harmonic_mean : 조화평균을 구한다.
- median : 중앙값을 구한다. 짝수인 경우 보간 값을 계산한다.
- median_low : 중앙값을 구한다. 집합 내의 낮은 값을 선택한다.
- median_high : 중앙값을 구한다. 집합 내의 높은 값을 선택한다.
- median_grouped : 그룹 연속 중앙값을 구한다.
- mode : 최빈값을 구한다.
- pstdev : 모표준편차를 구한다.
- stdev : 표준편차를 구한다.
- variance : 분산을 구한다.

# time

In [4]:
import time

print(time.time())  #1970년부터 현재까지

1547730361.3731492

In [8]:
import time

t = time.time()
print(time.ctime(t))

Thu Jan 17 22:07:54 2019

In [7]:
time.localtime()

time.struct_time(tm_year=2019, tm_mon=1, tm_mday=17, tm_hour=22, tm_min=7, tm_sec=13, tm_wday=3, tm_yday=17, tm_isdst=0)

In [11]:
t = time.time()
print(time.localtime(t))
print(time.gmtime(t))
print(time.localtime())

time.struct_time(tm_year=2019, tm_mon=1, tm_mday=4, tm_hour=18, tm_min=24, tm_sec=38, tm_wday=4, tm_yday=4, tm_isdst=0)
time.struct_time(tm_year=2019, tm_mon=1, tm_mday=4, tm_hour=9, tm_min=24, tm_sec=38, tm_wday=4, tm_yday=4, tm_isdst=0)
time.struct_time(tm_year=2019, tm_mon=1, tm_mday=4, tm_hour=18, tm_min=24, tm_sec=38, tm_wday=4, tm_yday=4, tm_isdst=0)

In [14]:
now = time.localtime()
print("%d년 %d월 %d일" %(now.tm_year, now.tm_mon, now.tm_mday))
print("%d:%d:%d" %(now.tm_hour, now.tm_min, now.tm_sec))

2019년 1월 4일
18:31:33

# datetime

In [15]:
import datetime

now = datetime.datetime.now()
print("%d년 %d월 %d일" % (now.year, now.month, now.day))
print("%d:%d:%d" %(now.hour, now.minute, now.second))

2019년 1월 4일
18:41:45

In [19]:
# 실행시간 측정

import time

start = time.time()
for a in range(1000):
    print(a, end='')
end = time.time()
print()
print("실행시간 :",end-start)

0123456789101112131415161718192021222324252627282930313233343536373839404142434445464748495051525354555657585960616263646566676869707172737475767778798081828384858687888990919293949596979899100101102103104105106107108109110111112113114115116117118119120121122123124125126127128129130131132133134135136137138139140141142143144145146147148149150151152153154155156157158159160161162163164165166167168169170171172173174175176177178179180181182183184185186187188189190191192193194195196197198199200201202203204205206207208209210211212213214215216217218219220221222223224225226227228229230231232233234235236237238239240241242243244245246247248249250251252253254255256257258259260261262263264265266267268269270271272273274275276277278279280281282283284285286287288289290291292293294295296297298299300301302303304305306307308309310311312313314315316317318319320321322323324325326327328329330331332333334335336337338339340341342343344345346347348349350351352353354355356357358359360361362363364365366367368369370371372373374375376377378379380381382383384385386387388389390391392393394395396397398399400401402403404405406407408409410411412413414415416417418419420421422423424425426427428429430431432433434435436437438439440441442443444445446447448449450451452453454455456457458459460461462463464465466467468469470471472473474475476477478479480481482483484485486487488489490491492493494495496497498499500501502503504505506507508509510511512513514515516517518519520521522523524525526527528529530531532533534535536537538539540541542543544545546547548549550551552553554555556557558559560561562563564565566567568569570571572573574575576577578579580581582583584585586587588589590591592593594595596597598599600601602603604605606607608609610611612613614615616617618619620621622623624625626627628629630631632633634635636637638639640641642643644645646647648649650651652653654655656657658659660661662663664665666667668669670671672673674675676677678679680681682683684685686687688689690691692693694695696697698699700701702703704705706707708709710711712713714715716717718719720721722723724725726727728729730731732733734735736737738739740741742743744745746747748749750751752753754755756757758759760761762763764765766767768769770771772773774775776777778779780781782783784785786787788789790791792793794795796797798799800801802803804805806807808809810811812813814815816817818819820821822823824825826827828829830831832833834835836837838839840841842843844845846847848849850851852853854855856857858859860861862863864865866867868869870871872873874875876877878879880881882883884885886887888889890891892893894895896897898899900901902903904905906907908909910911912913914915916917918919920921922923924925926927928929930931932933934935936937938939940941942943944945946947948949950951952953954955956957958959960961962963964965966967968969970971972973974975976977978979980981982983984985986987988989990991992993994995996997998999
실행시간 : 0.10963582992553711

In [20]:
for i in range(10):
    print('-',end='')
    time.sleep(1)

----------

In [21]:
import calendar

print(calendar.calendar(2018))
print(calendar.month(2019, 1))

                                  2018

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7                1  2  3  4                1  2  3  4
 8  9 10 11 12 13 14       5  6  7  8  9 10 11       5  6  7  8  9 10 11
15 16 17 18 19 20 21      12 13 14 15 16 17 18      12 13 14 15 16 17 18
22 23 24 25 26 27 28      19 20 21 22 23 24 25      19 20 21 22 23 24 25
29 30 31                  26 27 28                  26 27 28 29 30 31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                   1          1  2  3  4  5  6                   1  2  3
 2  3  4  5  6  7  8       7  8  9 10 11 12 13       4  5  6  7  8  9 10
 9 10 11 12 13 14 15      14 15 16 17 18 19 20      11 12 13 14 15 16 17
16 17 18 19 20 21 22      21 22 23 24 25 26 27      18 19 20 21 22 23 24
23 24 25 26 27 28 29      28 29 30 31               25 26 27 28 29 30
30

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                   1             1  2  3  4  5                      1  2
 2  3  4  5  6  7  8       6  7  8  9 10 11 12       3  4  5  6  7  8  9
 9 10 11 12 13 14 15      13 14 15 16 17 18 19      10 11 12 13 14 15 16
16 17 18 19 20 21 22      20 21 22 23 24 25 26      17 18 19 20 21 22 23
23 24 25 26 27 28 29      27 28 29 30 31            24 25 26 27 28 29 30
30 31

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7                1  2  3  4                      1  2
 8  9 10 11 12 13 14       5  6  7  8  9 10 11       3  4  5  6  7  8  9
15 16 17 18 19 20 21      12 13 14 15 16 17 18      10 11 12 13 14 15 16
22 23 24 25 26 27 28      19 20 21 22 23 24 25      17 18 19 20 21 22 23
29 30 31                  26 27 28 29 30            24 25 26 27 28 29 30
                                                    31

    January 2019
Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6
 7  8  9 10 11 12 13
14 15 16 17 18 19 20
21 22 23 24 25 26 27
28 29 30 31

In [23]:
calendar.prcal(2018)
calendar.prmonth(2019,1)

                                  2018

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7                1  2  3  4                1  2  3  4
 8  9 10 11 12 13 14       5  6  7  8  9 10 11       5  6  7  8  9 10 11
15 16 17 18 19 20 21      12 13 14 15 16 17 18      12 13 14 15 16 17 18
22 23 24 25 26 27 28      19 20 21 22 23 24 25      19 20 21 22 23 24 25
29 30 31                  26 27 28                  26 27 28 29 30 31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                   1          1  2  3  4  5  6                   1  2  3
 2  3  4  5  6  7  8       7  8  9 10 11 12 13       4  5  6  7  8  9 10
 9 10 11 12 13 14 15      14 15 16 17 18 19 20      11 12 13 14 15 16 17
16 17 18 19 20 21 22      21 22 23 24 25 26 27      18 19 20 21 22 23 24
23 24 25 26 27 28 29      28 29 30 31               25 26 27 28 29 30
30

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                   1             1  2  3  4  5                      1  2
 2  3  4  5  6  7  8       6  7  8  9 10 11 12       3  4  5  6  7  8  9
 9 10 11 12 13 14 15      13 14 15 16 17 18 19      10 11 12 13 14 15 16
16 17 18 19 20 21 22      20 21 22 23 24 25 26      17 18 19 20 21 22 23
23 24 25 26 27 28 29      27 28 29 30 31            24 25 26 27 28 29 30
30 31

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7                1  2  3  4                      1  2
 8  9 10 11 12 13 14       5  6  7  8  9 10 11       3  4  5  6  7  8  9
15 16 17 18 19 20 21      12 13 14 15 16 17 18      10 11 12 13 14 15 16
22 23 24 25 26 27 28      19 20 21 22 23 24 25      17 18 19 20 21 22 23
29 30 31                  26 27 28 29 30            24 25 26 27 28 29 30
                                                    31

    January 2019
Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6
 7  8  9 10 11 12 13
14 15 16 17 18 19 20
21 22 23 24 25 26 27
28 29 30 31

In [25]:
calendar.setfirstweekday(6)
calendar.prcal(2018)

                                  2018

      January                   February                   March
Su Mo Tu We Th Fr Sa      Su Mo Tu We Th Fr Sa      Su Mo Tu We Th Fr Sa
    1  2  3  4  5  6                   1  2  3                   1  2  3
 7  8  9 10 11 12 13       4  5  6  7  8  9 10       4  5  6  7  8  9 10
14 15 16 17 18 19 20      11 12 13 14 15 16 17      11 12 13 14 15 16 17
21 22 23 24 25 26 27      18 19 20 21 22 23 24      18 19 20 21 22 23 24
28 29 30 31               25 26 27 28               25 26 27 28 29 30 31

       April                      May                       June
Su Mo Tu We Th Fr Sa      Su Mo Tu We Th Fr Sa      Su Mo Tu We Th Fr Sa
 1  2  3  4  5  6  7             1  2  3  4  5                      1  2
 8  9 10 11 12 13 14       6  7  8  9 10 11 12       3  4  5  6  7  8  9
15 16 17 18 19 20 21      13 14 15 16 17 18 19      10 11 12 13 14 15 16
22 23 24 25 26 27 28      20 21 22 23 24 25 26      17 18 19 20 21 22 23
29 30                     27 28 29 30 31            24 25 26 27 28 29 30

        July                     August                  September
Su Mo Tu We Th Fr Sa      Su Mo Tu We Th Fr Sa      Su Mo Tu We Th Fr Sa
 1  2  3  4  5  6  7                1  2  3  4                         1
 8  9 10 11 12 13 14       5  6  7  8  9 10 11       2  3  4  5  6  7  8
15 16 17 18 19 20 21      12 13 14 15 16 17 18       9 10 11 12 13 14 15
22 23 24 25 26 27 28      19 20 21 22 23 24 25      16 17 18 19 20 21 22
29 30 31                  26 27 28 29 30 31         23 24 25 26 27 28 29
                                                    30

      October                   November                  December
Su Mo Tu We Th Fr Sa      Su Mo Tu We Th Fr Sa      Su Mo Tu We Th Fr Sa
    1  2  3  4  5  6                   1  2  3                         1
 7  8  9 10 11 12 13       4  5  6  7  8  9 10       2  3  4  5  6  7  8
14 15 16 17 18 19 20      11 12 13 14 15 16 17       9 10 11 12 13 14 15
21 22 23 24 25 26 27      18 19 20 21 22 23 24      16 17 18 19 20 21 22
28 29 30 31               25 26 27 28 29 30         23 24 25 26 27 28 29
                                                    30 31

In [26]:
import calendar

weekday = [ '월', '화', '수', '목', '금', '토', '일']
day = calendar.weekday(2020,8,15)
print("광복절은", weekday[day]+"요일이다")

광복절은 토요일이다

In [28]:
calendar.monthrange(2019,1)
calendar.isleap(2019)

False

In [29]:
calendar.monthcalendar(2019,1)

[[0, 0, 1, 2, 3, 4, 5],
 [6, 7, 8, 9, 10, 11, 12],
 [13, 14, 15, 16, 17, 18, 19],
 [20, 21, 22, 23, 24, 25, 26],
 [27, 28, 29, 30, 31, 0, 0]]

# 난수 random

In [30]:
import random

for i in range(5):
    print(random.random())

0.5986756732152144
0.7609524396799858
0.594164381470469
0.18969075863726426
0.8200418255793709

In [31]:
[ random.random() for i in range(5)]

[0.9099289629641854,
 0.9287971556087546,
 0.6239531272076371,
 0.35985843229083525,
 0.7036449803341436]

In [46]:
import random

[ random.randint(0, 100) for i in range(5)]

[24, 56, 71, 47, 1]

In [56]:
import random
[ random.randrange(1,100) for i in range(5)]

[95, 81, 80, 95, 33]

In [57]:
import random

for i in range(5):
    print(random.uniform(1,100))

14.622624980480499
88.52554420153467
48.9464916441323
92.21579033783087
34.31449177545167

In [1]:
import random

food = ["짜장면", "짬뽕", "탕수육", "군만두"]
print(random.choice(food))
random.shuffle(food)
print(food)
print(random.sample(food, 2))

탕수육
['탕수육', '짬뽕', '군만두', '짜장면']
['짜장면', '탕수육']