# 컬렉션 관리 함수 enumerate

In [1]:
score =[ 88, 95, 70, 100, 99]
for s in score:
    print("성적 :", s)

성적 : 88
성적 : 95
성적 : 70
성적 : 100
성적 : 99

다음과 같이 출력하는 코드 작성하기
- 1번 학생의 성적 : 88
- 2번 학생의 성적 : 95
- 3번 학생의 성적 : 70
- 4번 학생의 성적 : 100
- 5번 학생의 성적 : 99

In [4]:
score =[ 88, 95, 70, 100, 99]
no = 1
for s in score:
    print(no, '번 학생의 성적: ', s)
    no += 1

1 번 학생의 성적:  88
2 번 학생의 성적:  95
3 번 학생의 성적:  70
4 번 학생의 성적:  100
5 번 학생의 성적:  99

In [5]:
score =[ 88, 95, 70, 100, 99]
for no in range(len(score)):
    print(no+1, '번 학생의 성적: ', score[no])

1 번 학생의 성적:  88
2 번 학생의 성적:  95
3 번 학생의 성적:  70
4 번 학생의 성적:  100
5 번 학생의 성적:  99

In [6]:
score = [ 88, 95, 70, 100, 99]
for no, s in enumerate(score, 1):
    print(no, '번 학생의 성적: ', s)

1 번 학생의 성적:  88
2 번 학생의 성적:  95
3 번 학생의 성적:  70
4 번 학생의 성적:  100
5 번 학생의 성적:  99

# 컬렉션 관리함수 : zip

In [8]:
weekday=["월", "화", "수", "목", "금", "토", "일"]
food = ["갈비탕", "순대국", "칼국수", "삼겹살"]

다음과 같이 출력하는 코드 작성하기
- 월요일 메뉴 : 갈비탕
- 화요일 메뉴 : 순대국
- 수요일 메뉴 : 칼국수
- 목요일 메뉴 : 삼겹살

In [9]:
menu = zip(weekday, food)
for w, f in menu:
    print(w+'요일 메뉴: '+f)

월요일 메뉴: 갈비탕
화요일 메뉴: 순대국
수요일 메뉴: 칼국수
목요일 메뉴: 삼겹살

In [10]:
dict(zip(weekday, food))

{'월': '갈비탕', '화': '순대국', '수': '칼국수', '목': '삼겹살'}

# filter
success 함수는 60점 이상인지 조사하는 함수이다.

In [12]:
def success(s):
    return s >= 60
score = [ 45, 89, 72, 53, 94 ]
for s in filter(success, score):
    print(s)

89
72
94

In [14]:
score = [ 45, 89, 72, 53, 94 ]
for s in filter(lambda x: x >= 60, score):
    print(s)

89
72
94

# map

In [17]:
def half(s):
    return s/2
score = [ 45, 89, 72, 53, 94 ]
for s in map(half, score):
    print(s, end =', ')

22.5, 44.5, 36.0, 26.5, 47.0,

In [18]:
# 람다식 표현으로 바꾸기
score = [ 45, 89, 72, 53, 94 ]
for s in map(lambda x:x/2, score):
    print(s, end =', ')

22.5, 44.5, 36.0, 26.5, 47.0,

In [20]:
def discount_price(a,b):
    return a-a*(b/100)
    
price = [ 4500, 8000, 7200, 5300, 9400 ]
discount = [10, 5, 30, 20, 50]
for s in map(discount_price, price, discount):
    print(s, end=", ")

4050.0, 7600.0, 5040.0, 4240.0, 4700.0,

In [19]:
price = [ 4500, 8000, 7200, 5300, 9400 ]
discount = [10, 5, 30, 20, 50]
# 람다식 표현으로 바꾸기
for s in map(lambda a,b: a-a*(b/100), price, discount):
    print(s, end=", ")

4050.0, 7600.0, 5040.0, 4240.0, 4700.0,

In [ ]:
lambda x : x+1

def increase(x):
    return x+1

increase(1)

## (문제)
- n개의 숫자를 입력받아 덧셈하여 결과 값을 출력하기

In [27]:
numbers = input().split()
def sum(ns):
    sum = 0
    for i in map(lambda x: int(x), numbers):
        sum += i
    return sum

print(sum(numbers))

3 5 4 6
18

# reduce
- 주어진 시퀀스 자료형을 하나의 값으로 축약

In [28]:
def f(x,L):
    x=0
    for y in L:
        x=x+y*y
    return x

t = [ 1, 2, 3, 4, 5]
f(0,t)

55

In [29]:
from functools import reduce

result = reduce(lambda x,y:x+y*y, t)
result

55

## 리스트 컴프리헨션(리스트 표현식)

- 1부터 10까지 정수 리스트

In [38]:
list = []
for li in range(10):
    list.append(li+1)
print(list)
print([i+1 for i in range(10)])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

- 1부터 10의 제곱 리스트

In [40]:
# 리스트 표현식으로 만들기
[(i+1)**2 for i in range(10)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [1]:
# 람다식으로 만들기
# [(lambda x: x**2)(i) for i in range(1, 11)]
lambdas = lambda x: x**2
list(map(lambdas, [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

- 제곱리스트에서 짝수만 걸러내기

In [3]:
# 리스트표현식으로 만들기
[(i + 1) ** 2 for i in range(10) if (i + 1) % 2 == 0]

[4, 16, 36, 64, 100]

In [4]:
# 람다식으로 만들기
list(filter(lambda x:x % 2 == 0,map(lambdas, [1, 2, 3, 4, 5, 6, 7, 8, 9, 10])))

[4, 16, 36, 64, 100]